body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

#container{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px white solid;
    margin: 0 800px;
    border-radius: 20px;
    padding: 10px;
}

#valor{
    padding: 10px;
}

#hora   {
    padding: 10px;
}